body {
    background-color: #0d1117;
}

div {
    color: white;
    font-size: 200;
}
span{
    font-size: 18;
    color: white;
    font-weight: 550;
}
.topLink{
    color: grey;
    cursor: pointer;
    padding-left: 10px;
}